<div class="container my-5" id="navbar-prix">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold pb-2 mb-4">Nos abonnements</h3>
      <!-- Section description -->
      <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
  
          <!-- Card -->
          <div class="card">
  
            <!-- Content -->
            <div class="card-body">
  
              <!-- Offer -->
              <h5 class="mb-4">Basic plan</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-home indigo-text"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">59$</h2>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id
                nobis accusamus deleniti cumque hic laborum.</p>
              <a class="btn btn-indigo btn-rounded">Buy now</a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="card indigo">
  
            <!-- Content -->
            <div class="card-body white-text">
  
              <!-- Offer -->
              <h5 class="mb-4">Premium plan</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-users"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">79$</h2>
              <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio cupiditate
                sequi atque.</p>
              <a class="btn btn-outline-white btn-rounded">Buy now</a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!-- Card -->
          <div class="card">
  
            <!-- Content -->
            <div class="card-body">
  
              <!-- Offer -->
              <h5 class="mb-4">Advanced plan</h5>
              <div class="d-flex justify-content-center">
                <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-chart-line indigo-text"></i>
                </div>
              </div>
  
              <!--Price -->
              <h2 class="font-weight-bold my-4">99$</h2>
              <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni
                accusantium repellat eveniet quia vitae.</p>
              <a class="btn btn-indigo btn-rounded">Buy now</a>
  
            </div>
            <!-- Content -->
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->







    <div class="container my-5 py-5 z-depth-1">
 <h3 class="text-center font-weight-bold mb-4 pb-2">Abonnement sur-mesure</h3>
    <p class="text-center text-muted w-responsive mx-auto mb-5">Personnalisez votre abonnement en fonction de vos besoins</p>

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center">
    
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
    
            <!--Grid column-->
            <div class="col-lg-8">
    
              <!--Grid row-->
              <div class="row">
    
                <!--First column-->
                <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-gem fa-3x blue-text"></i>
                </div>
                <!--/First column-->
    
                <!--Second column-->
                <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-chart-area fa-3x teal-text"></i>
                </div>
                <!--/Second column-->
    
                <!--Third column-->
                <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-cogs fa-3x indigo-text"></i>
                </div>
                <!--/Third column-->
    
                <!--Fourth column-->
                <div class="col-md-3 col-6 mb-4">
                  <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>
                </div>
                <!--/Fourth column-->
    
              </div>
              <!--/Grid row-->
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minima cum sapiente alias iste expedita saepe explicabo illum ab, reiciendis aliquid nulla temporibus mollitia quae beatae harum sequi quidem ad.</p>
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
      </div>
  
  
  </div>