<div class="container pt-5 my-5 z-depth-1" id ="navbar-activites">

    <h3 class="text-center font-weight-bold mb-4 pb-2">Activités</h3>
    <p class="text-center text-muted w-responsive mx-auto mb-5">A qui s'adresse ScriptX ?</p>

    <section class="p-md-3 mx-md-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="far fa-paper-plane indigo-text pr-2"></i> Feature 1
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-pen-alt green-text pr-2"></i> Feature 2
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-user amber-text pr-2"></i> Feature 3
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-rocket red-text pr-2"></i> Feature 4
          </h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-home lime-text pr-2"></i> Feature 5
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-book-open blue-text pr-2"></i> Feature 6
          </h4>
          <p class="text-muted mb-lg-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-book pink-text pr-2"></i> Feature 7
          </h4>
          <p class="text-muted mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-bold mb-3">
            <i class="fas fa-paper-plane purple-text pr-2"></i> Feature 8
          </h4>
          <p class="text-muted mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </section>
  </div>