<div class="container my-5">


    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
  
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 mb-4">
  
          <!-- Card -->
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
            <div class="text-white text-center  align-items-center rgba-black-strong py-5 px-4 px-md-5 rounded">
              <div>
                <h6 class="purple-text">
                  <i class="fas fa-plane"></i>
                  <strong> Démonstration</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Essayez ScriptX</strong>
                </h3>
                <p class="pb-3">Curieux de voir de quoi je suis capable ? Essayez-moi !
                </p>
                <a class="btn btn-secondary btn-rounded btn-md"><i class="fas fa-clone left"></i> Lancez la démo</a>
              </div>
            </div>
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!-- Section: Block Content -->
  
  
  </div>