<div class="container my-5">


    <!--Section: Content-->
    <section>
  
      <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
      <!-- Section heading -->
      <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Questions régulièrement posées</h3>
      <hr class="w-header">
      <!-- Section description -->
      <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>
  
      <div class="row text-center text-md-left">
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">What payment services do you support?</h5>
          <p class="text-muted">We accept all major credit cards.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Can I update my card details?</h5>
          <p class="text-muted">Yes. Go to the billing section of your dashboard and update your payment information.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Is this a secure site for purchases?</h5>
          <p class="text-muted">Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Can I cancel my subscription?</h5>
          <p class="text-muted">You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">How long are your contracts?</h5>
          <p class="text-muted">Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.</p>
        </div>
  
        <div class="col-md-6 mb-4">
          <h5 class="font-weight-normal mb-3">Can I request refund?</h5>
          <p class="text-muted">Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
        </div>
      </div>
  
      </section>
    
    
  </div>