<nav id="navbar" class="navbar navbar-light fixed-top" style ="background-color: #333739">
  
  <div class="justify-content-center">
    <a class="navbar-brand" href="#"><img src="img/logo.voxymore.png" style = "max-width: 50px;"><img src="img/logo.scriptx.png" style = "max-width: 80px;"></a>
   
   
    <a class="navbar-brand" href="#navbar-produit" style = "color : white;">Produit</a>
 
    <a class="navbar-brand" href="#navbar-activites" style = "color : white;">Activité</a>
  
    <a class="navbar-brand" href="#navbar-prix" style = "color : white;">Tarifs</a>
  
 </div>
    <ul class="nav nav-pills">


      <li class="nav-item">
        <button type="button" class="btn btn-outline-danger btn-rounded waves-effect btn-sm" data-toggle="modal" data-target="#modalLRForm" >Se connecter</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-warning btn-rounded btn-sm">Démo</button>
      </li>
      <li>
        
      </li>
    </ul>
  </nav>
  